# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
vendor
bin

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

# Temp files
*~
*.log
*.swp
*.tmp
pkg

# Build files
build/
dist/